@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700');
body {
  font-family: 'PT Sans', sans-serif;
  color: #010101;
  font-weight: 400;
}
h1 {
  font-weight: bold;
}
.wrapper {
  max-width: 960px;
  margin: 0 auto;
}
p {
  font-size: 16px;
}
header {
  background-color: #fcdb00;
  padding-top: 30px;
}
img.logo {
  display: inline-block;
}
.navbar-header .logo {
  margin-top: -6px;
}
.navbar-brand span{
  font-size: 33px;
  color: #010101;
  padding-left: 5px;
  vertical-align: middle;

}
.carousel-inner {
  padding-bottom: 100px;
}
.caption{
  padding-top: 100px;
}
.caption p {
  padding: 25px 0 35px 0;
}
.ipad {
  padding-top: 30px;
}
.store-buttons a {
  color: black;
  padding-right: 35px;
}
.store-buttons a:last-child {
  padding-right: 0;
}
.store-buttons a:hover {
text-shadow: 1px 1px 1px black;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #333;
  background-color: transparent;
  text-shadow: 1px 1px 1px black;
}
.feathures h1, .feathures h4,.subscribe h1, .subscribe p {
  text-align: center;
}
.col-md-3 h4 {
  margin-top: 0;
  font-weight: bold;
  text-align: left;
}
.carousel-inner {
  height: 100%;
}
.feathures {
  padding-bottom: 70px;
}
.feathures .row {
  padding-top: 50px;
}
.feathures p {
  text-align: left;
  color: #a7a7a7;
}
.subscribe, footer {
  background-color: #010101;
}
.subscribe {
    padding-top: 95px;
}
.subscribe h1 {
  color: #fcdb00;
}
.subscribe p {
  color: #898989;
}
form {
  text-align: center;
  padding-top: 35px;
}
input {
  font-family: 'PT Sans', sans-serif;
  padding: 15px 25px;
  border-radius: 5px;
  border: none;
}
input[type="text"] {
  width: 65%;
  margin-right: 5px;
}
input[type="button"] {
  background-color: #fcdb00;
  font-weight: bold;
}
.social {
  text-align: center;
  padding-bottom: 100px;
  padding-top: 100px;
}
.social a {
  color: #fcdb00;
  padding: 10px;
}
.social a:hover {
  text-shadow: 1px 1px 1px yellow;
}
.footer-widgets {
  padding-bottom: 80px;
}
.footer-widgets, .footer-widgets a {
  color: #808080;
}
.footer-widgets a:hover {
  color: #fcdb00;
  text-decoration: none;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border: none;
}
.navbar-default .navbar-toggle {
  border-color: #010101;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #010101;
}
input:focus {
  outline: none;
}
@media screen and (max-width: 990px) {
  .col-sm-12 {text-align: center;}
  .footer-widgets {padding-bottom: 10px;}
  .social {padding: 30px 0;}
  .subscribe {padding-top: 20px;}
  .feathures .row {padding-top: 0;}
}
@media screen and (max-width: 400px) {
  input[type="button"] {margin-top: 10px;}
}
